<!DOCTYPE html>

<head>
    <title>"Księgi Wieczyste"</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
</head>

<body>
    <div>
        <form style="font-weight: 700; padding-top: 60px;" class="pure-form" method='POST' action='/'>
            Wpisz numer księgi wieczystej:</br></br></br></br>
            <select name="court" required>
                <option value="" disabled selected>----</option>
                <option value="WL1A">WL1A</option>
                <option value="SU1A">SU1A</option>
                <option value="OL1Y">OL1Y</option>
                <option value="PT1B">PT1B</option>
                <option value="KA1B">KA1B</option>
                <option value="LU1B">LU1B</option>
                <option value="RA2G">RA2G</option>
                <option value="KO1B">KO1B</option>
                <option value="BI1B">BI1B</option>
                <option value="BB1B">BB1B</option>
                <option value="BI1P">BI1P</option>
                <option value="ZA1B">ZA1B</option>
                <option value="OL1B">OL1B</option>
                <option value="TR1O">TR1O</option>
                <option value="JG1B">JG1B</option>
                <option value="EL1B">EL1B</option>
                <option value="TO1B">TO1B</option>
                <option value="OP1B">OP1B</option>
                <option value="TR1B">TR1B</option>
                <option value="LD1B">LD1B</option>
                <option value="KS1B">KS1B</option>
                <option value="KI1B">KI1B</option>
                <option value="BY1B">BY1B</option>
                <option value="KA1Y">KA1Y</option>
                <option value="SL1B">SL1B</option>
                <option value="LU1C">LU1C</option>
                <option value="TO1C">TO1C</option>
                <option value="PO1H">PO1H</option>
                <option value="SL1C">SL1C</option>
                <option value="KA1C">KA1C</option>
                <option value="SZ1C">SZ1C</option>
                <option value="KR1C">KR1C</option>
                <option value="PL1C">PL1C</option>
                <option value="BB1C">BB1C</option>
                <option value="PO2T">PO2T</option>
                <option value="KR1K">KR1K</option>
                <option value="CZ1C">CZ1C</option>
                <option value="SL1Z">SL1Z</option>
                <option value="KA1D">KA1D</option>
                <option value="TR1D">TR1D</option>
                <option value="RZ1D">RZ1D</option>
                <option value="KR2Y">KR2Y</option>
                <option value="KO1D">KO1D</option>
                <option value="EL1D">EL1D</option>
                <option value="SW1D">SW1D</option>
                <option value="EL1E">EL1E</option>
                <option value="OL1E">OL1E</option>
                <option value="SI1G">SI1G</option>
                <option value="GD1G">GD1G</option>
                <option value="GD1Y">GD1Y</option>
                <option value="OL1G">OL1G</option>
                <option value="GL1G">GL1G</option>
                <option value="LE1G">LE1G</option>
                <option value="OP1G">OP1G</option>
                <option value="PO1G">PO1G</option>
                <option value="SZ1O">SZ1O</option>
                <option value="TO1G">TO1G</option>
                <option value="NS1G">NS1G</option>
                <option value="GW1G">GW1G</option>
                <option value="PL1G">PL1G</option>
                <option value="PO1Y">PO1Y</option>
                <option value="LM1G">LM1G</option>
                <option value="WA1G">WA1G</option>
                <option value="PO1S">PO1S</option>
                <option value="RA1G">RA1G</option>
                <option value="TO1U">TO1U</option>
                <option value="SZ1G">SZ1G</option>
                <option value="SZ1Y">SZ1Y</option>
                <option value="ZG2K">ZG2K</option>
                <option value="BI2P">BI2P</option>
                <option value="ZA1H">ZA1H</option>
                <option value="EL1I">EL1I</option>
                <option value="BY1I">BY1I</option>
                <option value="ZA1J">ZA1J</option>
                <option value="KZ1J">KZ1J</option>
                <option value="PR1J">PR1J</option>
                <option value="KS1J">KS1J</option>
                <option value="GL1J">GL1J</option>
                <option value="LE1J">LE1J</option>
                <option value="KA1J">KA1J</option>
                <option value="JG1J">JG1J</option>
                <option value="KI1J">KI1J</option>
                <option value="KZ1A">KZ1A</option>
                <option value="JG1K">JG1K</option>
                <option value="SZ1K">SZ1K</option>
                <option value="GD1R">GD1R</option>
                <option value="KA1K">KA1K</option>
                <option value="KI1I">KI1I</option>
                <option value="OP1K">OP1K</option>
                <option value="KZ1E">KZ1E</option>
                <option value="OL1K">OL1K</option>
                <option value="KR2E">KR2E</option>
                <option value="KI1L">KI1L</option>
                <option value="OP1U">OP1U</option>
                <option value="CZ2C">CZ2C</option>
                <option value="SW1K">SW1K</option>
                <option value="TB1K">TB1K</option>
                <option value="KO1L">KO1L</option>
                <option value="KN1K">KN1K</option>
                <option value="KN1N">KN1N</option>
                <option value="KI1K">KI1K</option>
                <option value="KO1K">KO1K</option>
                <option value="PO1K">PO1K</option>
                <option value="GD1E">GD1E</option>
                <option value="RA1K">RA1K</option>
                <option value="KR1P">KR1P</option>
                <option value="ZA1K">ZA1K</option>
                <option value="LU1K">LU1K</option>
                <option value="KS1K">KS1K</option>
                <option value="ZG1K">ZG1K</option>
                <option value="KZ1R">KZ1R</option>
                <option value="KR2K">KR2K</option>
                <option value="LD1K">LD1K</option>
                <option value="GD1I">GD1I</option>
                <option value="WA1L">WA1L</option>
                <option value="LE1L">LE1L</option>
                <option value="KS1E">KS1E</option>
                <option value="PO1L">PO1L</option>
                <option value="RZ1E">RZ1E</option>
                <option value="SL1L">SL1L</option>
                <option value="OL1L">OL1L</option>
                <option value="NS1L">NS1L</option>
                <option value="WL1L">WL1L</option>
                <option value="RA1L">RA1L</option>
                <option value="PR1L">PR1L</option>
                <option value="JG1L">JG1L</option>
                <option value="LU1A">LU1A</option>
                <option value="LE1U">LE1U</option>
                <option value="CZ1L">CZ1L</option>
                <option value="LU1I">LU1I</option>
                <option value="JG1S">JG1S</option>
                <option value="RZ1A">RZ1A</option>
                <option value="SR1L">SR1L</option>
                <option value="LD1Y">LD1Y</option>
                <option value="SZ1L">SZ1L</option>
                <option value="LM1L">LM1L</option>
                <option value="SI2S">SI2S</option>
                <option value="LD1O">LD1O</option>
                <option value="LD1M">LD1M</option>
                <option value="LU1U">LU1U</option>
                <option value="GD1M">GD1M</option>
                <option value="SL1M">SL1M</option>
                <option value="KR1M">KR1M</option>
                <option value="TB1M">TB1M</option>
                <option value="PO2A">PO2A</option>
                <option value="GW1M">GW1M</option>
                <option value="KA1M">KA1M</option>
                <option value="WR1M">WR1M</option>
                <option value="SI1M">SI1M</option>
                <option value="PL1M">PL1M</option>
                <option value="BY1M">BY1M</option>
                <option value="EL2O">EL2O</option>
                <option value="OL1M">OL1M</option>
                <option value="NS2L">NS2L</option>
                <option value="NS1M">NS1M</option>
                <option value="KA1L">KA1L</option>
                <option value="CZ1M">CZ1M</option>
                <option value="KR1Y">KR1Y</option>
                <option value="SZ1M">SZ1M</option>
                <option value="BY1N">BY1N</option>
                <option value="OL1N">OL1N</option>
                <option value="KR2I">KR2I</option>
                <option value="TB1N">TB1N</option>
                <option value="SW2K">SW2K</option>
                <option value="ZG1N">ZG1N</option>
                <option value="EL1N">EL1N</option>
                <option value="GD2M">GD2M</option>
                <option value="WA1N">WA1N</option>
                <option value="NS1S">NS1S</option>
                <option value="NS1T">NS1T</option>
                <option value="PO1N">PO1N</option>
                <option value="OP1N">OP1N</option>
                <option value="PO1O">PO1O</option>
                <option value="OL1C">OL1C</option>
                <option value="OP1L">OP1L</option>
                <option value="WR1E">WR1E</option>
                <option value="KR1O">KR1O</option>
                <option value="OL1O">OL1O</option>
                <option value="WR1O">WR1O</option>
                <option value="KI1T">KI1T</option>
                <option value="PT1O">PT1O</option>
                <option value="LU1O">LU1O</option>
                <option value="OP1O">OP1O</option>
                <option value="OS1O">OS1O</option>
                <option value="KI1O">KI1O</option>
                <option value="EL1O">EL1O</option>
                <option value="OS1M">OS1M</option>
                <option value="KZ1W">KZ1W</option>
                <option value="KZ1O">KZ1O</option>
                <option value="KR1E">KR1E</option>
                <option value="WA1O">WA1O</option>
                <option value="LD1P">LD1P</option>
                <option value="SR2W">SR2W</option>
                <option value="WA1I">WA1I</option>
                <option value="PO1I">PO1I</option>
                <option value="KI1P">KI1P</option>
                <option value="RA2Z">RA2Z</option>
                <option value="PT1P">PT1P</option>
                <option value="OL1P">OL1P</option>
                <option value="KZ1P">KZ1P</option>
                <option value="PL1P">PL1P</option>
                <option value="PL1L">PL1L</option>
                <option value="SR2L">SR2L</option>
                <option value="SZ2S">SZ2S</option>
                <option value="PO1P">PO1P</option>
                <option value="PO2P">PO2P</option>
                <option value="KR1H">KR1H</option>
                <option value="OP1P">OP1P</option>
                <option value="WA1P">WA1P</option>
                <option value="OS1P">OS1P</option>
                <option value="PR1P">PR1P</option>
                <option value="PR1R">PR1R</option>
                <option value="RA1P">RA1P</option>
                <option value="KA1P">KA1P</option>
                <option value="GD2W">GD2W</option>
                <option value="LU1P">LU1P</option>
                <option value="OS1U">OS1U</option>
                <option value="SZ2T">SZ2T</option>
                <option value="GL1R">GL1R</option>
                <option value="RA1R">RA1R</option>
                <option value="PT1R">PT1R</option>
                <option value="WL1R">WL1R</option>
                <option value="LU1R">LU1R</option>
                <option value="LD1R">LD1R</option>
                <option value="PO1R">PO1R</option>
                <option value="RZ1R">RZ1R</option>
                <option value="GL1S">GL1S</option>
                <option value="GL1Y">GL1Y</option>
                <option value="LU1Y">LU1Y</option>
                <option value="WL1Y">WL1Y</option>
                <option value="RZ1Z">RZ1Z</option>
                <option value="KI1S">KI1S</option>
                <option value="KS1S">KS1S</option>
                <option value="SU1N">SU1N</option>
                <option value="BY2T">BY2T</option>
                <option value="SI1S">SI1S</option>
                <option value="KA1I">KA1I</option>
                <option value="BI3P">BI3P</option>
                <option value="PR2R">PR2R</option>
                <option value="SR1S">SR1S</option>
                <option value="PL1E">PL1E</option>
                <option value="KR2P">KR2P</option>
                <option value="KI1R">KI1R</option>
                <option value="KR3I">KR3I</option>
                <option value="LD1H">LD1H</option>
                <option value="KO1E">KO1E</option>
                <option value="KR1S">KR1S</option>
                <option value="GW1S">GW1S</option>
                <option value="KN1S">KN1S</option>
                <option value="SL1S">SL1S</option>
                <option value="PL1O">PL1O</option>
                <option value="SI1P">SI1P</option>
                <option value="BI1S">BI1S</option>
                <option value="GD1S">GD1S</option>
                <option value="KA1S">KA1S</option>
                <option value="TB1S">TB1S</option>
                <option value="KI1H">KI1H</option>
                <option value="SZ1T">SZ1T</option>
                <option value="GD1A">GD1A</option>
                <option value="KI1A">KI1A</option>
                <option value="GW1K">GW1K</option>
                <option value="OP1S">OP1S</option>
                <option value="WR1T">WR1T</option>
                <option value="RZ1S">RZ1S</option>
                <option value="KR1B">KR1B</option>
                <option value="ZG2S">ZG2S</option>
                <option value="GW1U">GW1U</option>
                <option value="SU1S">SU1S</option>
                <option value="PO1A">PO1A</option>
                <option value="KO1I">KO1I</option>
                <option value="SZ1S">SZ1S</option>
                <option value="OL1S">OL1S</option>
                <option value="GD2I">GD2I</option>
                <option value="BY1U">BY1U</option>
                <option value="RA1S">RA1S</option>
                <option value="PO1M">PO1M</option>
                <option value="WR1S">WR1S</option>
                <option value="PO1D">PO1D</option>
                <option value="SW1S">SW1S</option>
                <option value="LU1S">LU1S</option>
                <option value="KO2B">KO2B</option>
                <option value="ZG1S">ZG1S</option>
                <option value="BY1S">BY1S</option>
                <option value="SZ1W">SZ1W</option>
                <option value="TB1T">TB1T</option>
                <option value="GL1T">GL1T</option>
                <option value="TR1T">TR1T</option>
                <option value="GD1T">GD1T</option>
                <option value="ZA1T">ZA1T</option>
                <option value="PT1T">PT1T</option>
                <option value="TO1T">TO1T</option>
                <option value="PO1T">PO1T</option>
                <option value="WR1W">WR1W</option>
                <option value="BY1T">BY1T</option>
                <option value="TR2T">TR2T</option>
                <option value="KN1T">KN1T</option>
                <option value="KA1T">KA1T</option>
                <option value="RZ2Z">RZ2Z</option>
                <option value="KS2E">KS2E</option>
                <option value="KR1W">KR1W</option>
                <option value="SW1W">SW1W</option>
                <option value="KO1W">KO1W</option>
                <option value="WA1M">WA1M</option>
                <option value="WA2M">WA2M</option>
                <option value="WA3M">WA3M</option>
                <option value="WA4M">WA4M</option>
                <option value="WA5M">WA5M</option>
                <option value="WA6M">WA6M</option>
                <option value="TO1W">TO1W</option>
                <option value="PO1B">PO1B</option>
                <option value="GD1W">GD1W</option>
                <option value="OL2G">OL2G</option>
                <option value="SI1W">SI1W</option>
                <option value="KR1I">KR1I</option>
                <option value="SR1W">SR1W</option>
                <option value="WL1W">WL1W</option>
                <option value="LU1W">LU1W</option>
                <option value="KI1W">KI1W</option>
                <option value="GL1W">GL1W</option>
                <option value="PO1E">PO1E</option>
                <option value="WA1W">WA1W</option>
                <option value="WR1L">WR1L</option>
                <option value="WR1K">WR1K</option>
                <option value="PO1F">PO1F</option>
                <option value="ZG1W">ZG1W</option>
                <option value="PO2H">PO2H</option>
                <option value="LM1W">LM1W</option>
                <option value="OS1W">OS1W</option>
                <option value="GL1Z">GL1Z</option>
                <option value="NS1Z">NS1Z</option>
                <option value="LM1Z">LM1Z</option>
                <option value="ZA1Z">ZA1Z</option>
                <option value="CZ1Z">CZ1Z</option>
                <option value="SW1Z">SW1Z</option>
                <option value="SR1Z">SR1Z</option>
                <option value="LD1G">LD1G</option>
                <option value="JG1Z">JG1Z</option>
                <option value="ZG1E">ZG1E</option>
                <option value="LE1Z">LE1Z</option>
                <option value="PO1Z">PO1Z</option>
                <option value="RA1Z">RA1Z</option>
                <option value="ZG1G">ZG1G</option>
                <option value="ZG1R">ZG1R</option>
                <option value="BY1Z">BY1Z</option>
                <option value="GL1X">GL1X</option>
                <option value="PL2M">PL2M</option>
                <option value="PL1Z">PL1Z</option>
                <option value="BB1Z">BB1Z</option>
            </select>  /
            <input style="margin-left: auto; margin-right: auto;" name="numer_ksiegiw" type="text" required ></br></br></br></br>
            <button class="button-warning" type='submit' value='submit'> Sprawdź </button>
        </form> </br></br>
    </div>

    <div>
        {% if control_digit, court_location %}

            {{control_digit}}</br></br>
            {{court_location}}

        {% endif %}

        {% if error %}

            {{error}}

        {% endif %}


    </div>
</body>
