<!DOCTYPE html>

<head>
    <title>"Księgi Wieczyste"</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
</head>

<body>
    <div>
        <form style="font-weight: 700; padding-top: 60px;" class="pure-form" method='POST' action='/'>
            Wpisz numer księgi wieczystej:</br></br></br></br>
            <input list="courts" name="court" id="court" maxlength="4">
  	    <datalist id="courts">
    		<option value="BB1B">
<option value="BB1C">
<option value="BB1Z">
<option value="BI1B">
<option value="BI1P">
<option value="BI1S">
<option value="BI2P">
<option value="BI3P">
<option value="BY1B">
<option value="BY1I">
<option value="BY1M">
<option value="BY1N">
<option value="BY1S">
<option value="BY1T">
<option value="BY1U">
<option value="BY1Z">
<option value="BY2T">
<option value="CZ1C">
<option value="CZ1L">
<option value="CZ1M">
<option value="CZ1Z">
<option value="CZ2C">
<option value="EL1B">
<option value="EL1D">
<option value="EL1E">
<option value="EL1I">
<option value="EL1N">
<option value="EL1O">
<option value="EL2O">
<option value="GD1A">
<option value="GD1E">
<option value="GD1G">
<option value="GD1I">
<option value="GD1M">
<option value="GD1R">
<option value="GD1S">
<option value="GD1T">
<option value="GD1W">
<option value="GD1Y">
<option value="GD2I">
<option value="GD2M">
<option value="GD2W">
<option value="GL1G">
<option value="GL1J">
<option value="GL1R">
<option value="GL1S">
<option value="GL1T">
<option value="GL1W">
<option value="GL1X">
<option value="GL1Y">
<option value="GL1Z">
<option value="GW1G">
<option value="GW1K">
<option value="GW1M">
<option value="GW1S">
<option value="GW1U">
<option value="JG1B">
<option value="JG1J">
<option value="JG1K">
<option value="JG1L">
<option value="JG1S">
<option value="JG1Z">
<option value="KA1B">
<option value="KA1C">
<option value="KA1D">
<option value="KA1I">
<option value="KA1J">
<option value="KA1K">
<option value="KA1L">
<option value="KA1M">
<option value="KA1P">
<option value="KA1S">
<option value="KA1T">
<option value="KA1Y">
<option value="KI1A">
<option value="KI1B">
<option value="KI1H">
<option value="KI1I">
<option value="KI1J">
<option value="KI1K">
<option value="KI1L">
<option value="KI1O">
<option value="KI1P">
<option value="KI1R">
<option value="KI1S">
<option value="KI1T">
<option value="KI1W">
<option value="KN1K">
<option value="KN1N">
<option value="KN1S">
<option value="KN1T">
<option value="KO1B">
<option value="KO1D">
<option value="KO1E">
<option value="KO1I">
<option value="KO1K">
<option value="KO1L">
<option value="KO1W">
<option value="KO2B">
<option value="KR1B">
<option value="KR1C">
<option value="KR1E">
<option value="KR1H">
<option value="KR1I">
<option value="KR1K">
<option value="KR1M">
<option value="KR1O">
<option value="KR1P">
<option value="KR1S">
<option value="KR1W">
<option value="KR1Y">
<option value="KR2E">
<option value="KR2I">
<option value="KR2K">
<option value="KR2P">
<option value="KR2Y">
<option value="KR3I">
<option value="KS1B">
<option value="KS1E">
<option value="KS1J">
<option value="KS1K">
<option value="KS1S">
<option value="KS2E">
<option value="KZ1A">
<option value="KZ1E">
<option value="KZ1J">
<option value="KZ1O">
<option value="KZ1P">
<option value="KZ1R">
<option value="KZ1W">
<option value="LD1B">
<option value="LD1G">
<option value="LD1H">
<option value="LD1K">
<option value="LD1M">
<option value="LD1O">
<option value="LD1P">
<option value="LD1R">
<option value="LD1Y">
<option value="LE1G">
<option value="LE1J">
<option value="LE1L">
<option value="LE1U">
<option value="LE1Z">
<option value="LM1G">
<option value="LM1L">
<option value="LM1W">
<option value="LM1Z">
<option value="LU1A">
<option value="LU1B">
<option value="LU1C">
<option value="LU1I">
<option value="LU1K">
<option value="LU1O">
<option value="LU1P">
<option value="LU1R">
<option value="LU1S">
<option value="LU1U">
<option value="LU1W">
<option value="LU1Y">
<option value="NS1G">
<option value="NS1L">
<option value="NS1M">
<option value="NS1S">
<option value="NS1T">
<option value="NS1Z">
<option value="NS2L">
<option value="OL1B">
<option value="OL1C">
<option value="OL1E">
<option value="OL1G">
<option value="OL1K">
<option value="OL1L">
<option value="OL1M">
<option value="OL1N">
<option value="OL1O">
<option value="OL1P">
<option value="OL1S">
<option value="OL1Y">
<option value="OL2G">
<option value="OP1B">
<option value="OP1G">
<option value="OP1K">
<option value="OP1L">
<option value="OP1N">
<option value="OP1O">
<option value="OP1P">
<option value="OP1S">
<option value="OP1U">
<option value="OS1M">
<option value="OS1O">
<option value="OS1P">
<option value="OS1U">
<option value="OS1W">
<option value="PL1C">
<option value="PL1E">
<option value="PL1G">
<option value="PL1L">
<option value="PL1M">
<option value="PL1O">
<option value="PL1P">
<option value="PL1Z">
<option value="PL2M">
<option value="PO1A">
<option value="PO1B">
<option value="PO1D">
<option value="PO1E">
<option value="PO1F">
<option value="PO1G">
<option value="PO1H">
<option value="PO1I">
<option value="PO1K">
<option value="PO1L">
<option value="PO1M">
<option value="PO1N">
<option value="PO1O">
<option value="PO1P">
<option value="PO1R">
<option value="PO1S">
<option value="PO1T">
<option value="PO1Y">
<option value="PO1Z">
<option value="PO2A">
<option value="PO2H">
<option value="PO2P">
<option value="PO2T">
<option value="PR1J">
<option value="PR1L">
<option value="PR1P">
<option value="PR1R">
<option value="PR2R">
<option value="PT1B">
<option value="PT1O">
<option value="PT1P">
<option value="PT1R">
<option value="PT1T">
<option value="RA1G">
<option value="RA1K">
<option value="RA1L">
<option value="RA1P">
<option value="RA1R">
<option value="RA1S">
<option value="RA1Z">
<option value="RA2G">
<option value="RA2Z">
<option value="RZ1A">
<option value="RZ1D">
<option value="RZ1E">
<option value="RZ1R">
<option value="RZ1S">
<option value="RZ1Z">
<option value="RZ2Z">
<option value="SI1G">
<option value="SI1M">
<option value="SI1P">
<option value="SI1S">
<option value="SI1W">
<option value="SI2S">
<option value="SL1B">
<option value="SL1C">
<option value="SL1L">
<option value="SL1M">
<option value="SL1S">
<option value="SL1Z">
<option value="SR1L">
<option value="SR1S">
<option value="SR1W">
<option value="SR1Z">
<option value="SR2L">
<option value="SR2W">
<option value="SU1A">
<option value="SU1N">
<option value="SU1S">
<option value="SW1D">
<option value="SW1K">
<option value="SW1S">
<option value="SW1W">
<option value="SW1Z">
<option value="SW2K">
<option value="SZ1C">
<option value="SZ1G">
<option value="SZ1K">
<option value="SZ1L">
<option value="SZ1M">
<option value="SZ1O">
<option value="SZ1S">
<option value="SZ1T">
<option value="SZ1W">
<option value="SZ1Y">
<option value="SZ2S">
<option value="SZ2T">
<option value="TB1K">
<option value="TB1M">
<option value="TB1N">
<option value="TB1S">
<option value="TB1T">
<option value="TO1B">
<option value="TO1C">
<option value="TO1G">
<option value="TO1T">
<option value="TO1U">
<option value="TO1W">
<option value="TR1B">
<option value="TR1D">
<option value="TR1O">
<option value="TR1T">
<option value="TR2T">
<option value="WA1G">
<option value="WA1I">
<option value="WA1L">
<option value="WA1M">
<option value="WA1N">
<option value="WA1O">
<option value="WA1P">
<option value="WA1W">
<option value="WA2M">
<option value="WA3M">
<option value="WA4M">
<option value="WA5M">
<option value="WA6M">
<option value="WL1A">
<option value="WL1L">
<option value="WL1R">
<option value="WL1W">
<option value="WL1Y">
<option value="WR1E">
<option value="WR1K">
<option value="WR1L">
<option value="WR1M">
<option value="WR1O">
<option value="WR1S">
<option value="WR1T">
<option value="WR1W">
<option value="ZA1B">
<option value="ZA1H">
<option value="ZA1J">
<option value="ZA1K">
<option value="ZA1T">
<option value="ZA1Z">
<option value="ZG1E">
<option value="ZG1G">
<option value="ZG1K">
<option value="ZG1N">
<option value="ZG1R">
<option value="ZG1S">
<option value="ZG1W">
<option value="ZG2K">
<option value="ZG2S">
                
            </datalist>  /
            <input style="margin-left: auto; margin-right: auto;" name="numer_ksiegiw" type="text" required ></br></br></br></br>
            <button class="button-warning" type='submit' value='submit'> Sprawdź </button>
        </form> </br></br>
    </div>

    <div>
        {% if control_digit, court_location %}

            {{control_digit}}</br></br>
            {{court_location}}

        {% endif %}

        {% if error %}

            {{error}}

        {% endif %}


    </div>
</body>
