<!DOCTYPE html>

<head>
    <title>"Księgi Wieczyste"</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
</head>

<body>
    <div>
        <form style="font-weight: 700; padding-top: 30px;" class="pure-form" method='POST' action='/'>
            Wpisz numer księgi wieczystej:</br></br>
            <select name="court" required>
                <option value="">----</option>
                <option value="WL1A">WL1A</option>
                <option value="SU1A">SU1A</option>
                <option value="OL1Y">OL1Y</option>
                <option value="PT1B">PT1B</option>
                <option value="KA1B">KA1B</option>
                <option value="LU1B">LU1B</option>
                <option value="RA2G">RA2G</option>
                <option value="KO1B">KO1B</option>
                <option value="BI1B">BI1B</option>
                <option value="BB1B">BB1B</option>
                <option value="BI1P">BI1P</option>
                <option value="ZA1B">ZA1B</option>
                <option value="OL1B">OL1B</option>
                <option value="TR1O">TR1O</option>
                <option value="JG1B">JG1B</option>
                <option value="EL1B">EL1B</option>
                <option value="TO1B">TO1B</option>
                <option value="OP1B">OP1B</option>
                <option value="TR1B">TR1B</option>
                <option value="LD1B">LD1B</option>
                <option value="KS1B">KS1B</option>
                <option value="KI1B">KI1B</option>
                <option value="BY1B">BY1B</option>
                <option value="KA1Y">KA1Y</option>
                <option value="SL1B">SL1B</option>
                <option value="LU1C">LU1C</option>
                <option value="TO1C">TO1C</option>
                <option value="PO1H">PO1H</option>
                <option value="SL1C">SL1C</option>
                <option value="KA1C">KA1C</option>
                <option value="SZ1C">SZ1C</option>
                <option value="KR1C">KR1C</option>
                <option value="PL1C">PL1C</option>
                <option value="BB1C">BB1C</option>
                <option value="PO2T">PO2T</option>
                <option value="KR1K">KR1K</option>
                <option value="CZ1C">CZ1C</option>
                <option value="SL1Z">SL1Z</option>
                <option value="KA1D">KA1D</option>
                <option value="RZ1D">RZ1D</option>
                <option value="KR2Y">KR2Y</option>
                <option value="KO1D">KO1D</option>
                <option value="SW1D">SW1D</option>
                <option value="EL1E">EL1E</option>
                <option value="OL1E">OL1E</option>
                <option value="EL1D">EL1D</option>
                <option value="SI1G">SI1G</option>
                <option value="GD1G">GD1G</option>
                <option value="GD1Y">GD1Y</option>
                <option value="OL1G">OL1G</option>
                <option value="GL1G">GL1G</option>
                <option value="LE1G">LE1G</option>
                <option value="OP1G">OP1G</option>
                <option value="PO1G">PO1G</option>
                <option value="SZ1O">SZ1O</option>
                <option value="TO1G">TO1G</option>
                <option value="NS1G">NS1G</option>
                <option value="GW1G">GW1G</option>
                <option value="PL1G">PL1G</option>
                <option value="PO1Y">PO1Y</option>
                <option value="LM1G">LM1G</option>
                <option value="WA1G">WA1G</option>
                <option value="PO1S">PO1S</option>
                <option value="RA1G">RA1G</option>
                <option value="TO1U">TO1U</option>
                <option value="EL1D">EL1D</option>
                <option value="EL1D">EL1D</option>
                <option value="EL1D">EL1D</option>
                <option value="EL1D">EL1D</option>
                <option value="EL1D">EL1D</option>
                <option value="EL1D">EL1D</option>
                <option value="EL1D">EL1D</option>



            </select> /
            <input style="margin-left: auto; margin-right: auto;"class="pure-input-rounded" name="numer_ksiegiw" type="text" required ></br></br>
            <button class="button-warning" type='submit' value='submit'> Sprawdź </button>
        </form> </br></br>
    </div>

    <div>
        {% if control_digit, court_location %}
        <p >    {{control_digit}}</br>

            {{court_location}}

        </p>

        {% endif %}

        {% if error %}
            {{error}}
        {% endif %}


    </div>
</body>
